.s1 {
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-image: 
    linear-gradient(rgba(var(--color-white), 0.0), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04)) 0 100%;
}

.s3 {
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-image: 
    linear-gradient(rgba(var(--color-white), 0.0), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04)) 0 100%;
}

.s4 {
    border: 0px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(var(--color-white), 0.0), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04));
    border-image-slice: 1;
}

.s6 {
    border: 0px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.0));
    border-image-slice: 1;
}

.s7 {
    border: 0px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(var(--color-white), 0.0), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04));
    border-image-slice: 1;
}

.s9 {
    border: 0px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.0));
    border-image-slice: 1;
}

.s10 {
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-image: 
    linear-gradient(rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.0)) 0 100%;
}

.s12 {
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-image: 
    linear-gradient(rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.04), rgba(var(--color-white), 0.0)) 0 100%;
}

.s1, .s4, .s7, .s10 {
    border-right: 1px solid rgba(var(--color-white), 0.04);
}

.s3, .s6, .s9, .s12 {
    border-left: 1px solid rgba(var(--color-white), 0.04);
}

.s4, .s5, .s6 {
    border-bottom: 1px solid rgba(var(--color-white), 0.04);
    border-top: 1px solid rgba(var(--color-white), 0.04);
}

.s10, .s11, .s12 {
    border-top: 1px solid rgba(var(--color-white), 0.04);
}