/* structure */

html {
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.interface {
    gap: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr minmax(28em, 52em) 0.5fr;
    grid-template-rows: 0.1fr auto 1fr auto;
}

/* body */

body {
    margin: 0;
    box-shadow: inset 0 0 5rem #00000069;
}

body::before {
    background: var(--background-picture);
    background-size: cover;
    opacity: 0.12;

    content: "";
    inset: 0;
    position: absolute;
    z-index: -2;
}

body::after {
    background: var(--background-texture);
    backdrop-filter: var(--background-blur);

    content: "";
    inset: 0;
    position: absolute;
    z-index: -2;
}