html {
    background-color: #1B1D22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.grid-container {
    gap: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr minmax(28em, 52em) 0.5fr;
    grid-template-rows: 0.1fr auto 1fr auto;
}

body {
    margin: 0;
    box-shadow: inset 0 0 5rem #00000069;
}

body::before {
    content: "";
    inset: 0;
    position: fixed;
    z-index: -2;

    background: url('../shelf/backgrounds/cozy_window.png');
    background-size: cover;
    opacity: 0.12;
}

body::after {
    content: "";
    inset: 0;
    position: fixed;
    z-index: -1;

    backdrop-filter: blur(24px);
    background: url('../shelf/backgrounds/noise.png');
}