/* structure */
.cell-9 {
    padding: 0.625rem;
}

.toolbox {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.cell-11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-bar {
    display: flex;
    margin: 0.625rem;
    gap: 0.625rem;
}


/* buttons */
.export-txt {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.625rem;

    background: radial-gradient(
    circle at center left,
    rgba(var(--color-primary), 0.02) 0%,
    rgba(var(--color-primary), 0) 100%
    );
    color: rgba(var(--color-primary), 0.6);
    padding: 0.625rem;

    border-radius: 4px;
    text-align: left;
    font-family: 'Archivo', sans-serif;
    font-size: var(--font-sub);
    font-weight: 300;
    cursor: pointer;
    border: none;
    user-select: none;
    transition: 0.2s;
}
.icon {
    height: 18px;
    opacity: 0.6;
}

.export-txt:hover {
    color: rgba(var(--color-primary), 1);
    background: radial-gradient(
    circle at center left,
    rgba(var(--color-primary), 0.08) 0%,
    rgba(var(--color-primary), 0) 100%
    );
}