::selection {
    background: rgba(var(--color-primary), 0.24);
    color: rgb(var(--color-primary)); }
::-moz-selection {
    background: rgba(var(--color-primary), 0.24);
    color: rgb(var(--color-primary)); }

.patter {
    margin: 0.625rem;
    text-align: center;
    font-family: 'Amarante', sans-serif;
    font-size: var(--font-title);
    user-select: none;
    color: rgb(var(--color-primary));
    cursor: pointer;
}

/* document title */
.title {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    padding: 0;

    width: stretch;
    align-content: center;
    text-align: center;

    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: var(--font-title);
    color: rgb(var(--color-primary));

    resize: none;

    background: transparent;
    border: none;
    outline: none;
}

.title::placeholder {
    font-weight: 500;
    color: rgba(var(--color-primary), 0.24);
}

/* document text */
.text {
    margin: 0.625rem;
    text-align: left;
    font-family: 'Bitter', serif;
    font-size: var(--font-regular);
    font-weight: 400;
    line-height: 1.8rem;
    color: rgb(var(--color-primary));
    resize: none;

    background: transparent;
    border: none;
    outline: none;
}
.text::placeholder {
    font-size: var(--font-regular);
    font-weight: 400;
    line-height: 1.8rem;
    color: rgba(var(--color-primary), 0.24);
}

.text::-webkit-scrollbar {
    width: 8px;
}
.text::-webkit-scrollbar-track {
    background: transparent;
    cursor: default;
}
.text::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-primary), 0.12);
    border-radius: 4px;
    cursor: default;
}

/* technical text */
.counter {
    user-select: none;
    font-family: 'Archivo', sans-serif;
    font-size: var(--font-sub);
    font-weight: 400;
    color: rgba(var(--color-primary), 0.6);
}

.subtext {
    user-select: none;
    font-family: 'Archivo', sans-serif;
    font-size: var(--font-sub);
    line-height: 1rem;
    font-weight: 400;
    color: rgba(var(--color-primary), 0.24);
    max-width: 18.75rem;
}