/* structure */

body {
    margin: 0;
    box-shadow: inset 0 0 5rem #00000024;
}

html {
    background-color: #252527;
}

.grid-container {
    gap: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr minmax(28em, 62em) 0.5fr;
    grid-template-rows: 0.1fr auto 1fr auto;
}

.s6 {
    padding: 6px 6px;
    align-items: center;
    align-content: center;
}

.s11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-bar {
    display: flex;
    margin: 0.625rem;
    gap: 0.625rem;
    opacity: 0.6;
}


/* counters */
.counter {
    user-select: none;
    text-align: right;
    font-family: 'Archivo', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgb(250, 252, 255);
}

/* buttons */
.export-txt {
    background: rgba(250, 252, 255, 0.04);
    color: rgba(250, 252, 255, 1);
    padding: 10px 10px;
    border-radius: 4;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    user-select: none;

}

/* text fields */

::selection {
    background: #0077ff94;
    color: rgb(250, 252, 255); }
::-moz-selection {
    background: #0077ff94;
    color: rgb(250, 252, 255); }

.title {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    outline: none;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(250, 252, 255);
    resize: none;
    text-overflow: ellipsis;

    background: transparent;
    border: none;
    outline: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    margin: 0.625rem;
    text-align: center;
    outline: none;
    text-align: left;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: rgb(250, 252, 255);
    resize: none;

    background: transparent;
    border: none;
    outline: none;
}

.patter {
    margin: 0.625rem;
    text-align: center;
    font-family: 'Amarante', sans-serif;
    font-size: 1.8rem;
    user-select: none;
    color: rgb(250, 252, 255);
}


/* borders SUPER MESSY */
.s1 {
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-image: 
    linear-gradient(rgba(250, 252, 255, 0.0), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04)) 0 100%;
}

.s3 {
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-image: 
    linear-gradient(rgba(250, 252, 255, 0.0), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04)) 0 100%;
}

.s4 {
    border: 0px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(250, 252, 255, 0.0), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04));
    border-image-slice: 1;
}

.s6 {
    border: 0px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.0));
    border-image-slice: 1;
}

.s7 {
    border: 0px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(250, 252, 255, 0.0), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04));
    border-image-slice: 1;
}

.s9 {
    border: 0px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.0));
    border-image-slice: 1;
}

.s10 {
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-image: 
    linear-gradient(rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.0)) 0 100%;
}

.s12 {
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-image: 
    linear-gradient(rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.04), rgba(250, 252, 255, 0.0)) 0 100%;
}

.s1, .s4, .s7, .s10 {
    border-right: 1px solid rgba(250, 252, 255, 0.04);
}

.s3, .s6, .s9, .s12 {
    border-left: 1px solid rgba(250, 252, 255, 0.04);
}

.s4, .s5, .s6 {
    border-bottom: 1px solid rgba(250, 252, 255, 0.04);
    border-top: 1px solid rgba(250, 252, 255, 0.04);
}

.s10, .s11, .s12 {
    border-top: 1px solid rgba(250, 252, 255, 0.04);
}


/* testing */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out;
}