body {
    margin: 0;
}

html { background-color: #1B1D22; }

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
  url("backgrounds/cozy_window.png") center/cover no-repeat;
  opacity: 0.12;
  z-index: -2;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(250, 252, 255, 0.01); 
  z-index: -1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.grid-container {
    gap: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(770px, 1.2fr) 1fr;
    grid-template-rows: 80px 50px 1fr 80px;
}

.title {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    outline: none;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(250, 252, 255, 1);
    resize: none;
    text-overflow: ellipsis;

    background: transparent;
    border: none;
    outline: none;

    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide elements that may overflow */
    text-overflow: ellipsis; /* Request an ellipsis */
}

.text {
    margin: 0.625rem;
    text-align: center;
    outline: none;
    text-align: left;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: rgba(250, 252, 255, 0.9);
    resize: none;

    background: transparent;
    border: none;
    outline: none;
}

::selection { background: rgba(255, 255, 255, 0.12); color: #fff; }
::-moz-selection { background: rgba(255, 255, 255, 0.12); color: #fff; }

.patter {
    margin: 0.625rem;
    text-align: center;
    font-family: 'Amarante', sans-serif;
    font-size: 2rem;
    user-select: none;
    color: rgba(250, 252, 255, 1);
}


.s1, .s4, .s7, .s10 {
    border-right: 1px solid rgba(250, 252, 255, 0.04);
}

.s3, .s6, .s9, .s12 {
    border-left: 1px solid rgba(250, 252, 255, 0.04);
}

.s4, .s5, .s6 {
    border-bottom: 1px solid rgba(250, 252, 255, 0.04);
    border-top: 1px solid rgba(250, 252, 255, 0.04);
}

.s10, .s11, .s12 {
    border-top: 1px solid rgba(250, 252, 255, 0.04);
}